body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(245, 245, 245, 0.897);
}

li{
    list-style-type: none;
}

.navbar{
    opacity: 100 !important;
	/* display: flex;
	justify-content: space-around !important; */
}

.container{
    margin-top: 5%;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.card-img{
    background-image: url('./bannerImg.jpg');
    /* object-fit: cover;
    object-position: center; */
    min-height: 100vh;
    opacity: 60%;
    background-position: top left;
    background-size: cover;
}

.card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#aboutMe{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.languageIcon{
    margin: 2%;
    display: flex;
    align-self: flex-end;
}

.fa-html5:hover{
	color: orange;
}

.fa-css3-alt:hover{
	color: #007acc;
}

.fa-js-square:hover{
	color: #ffe300;
}

.fa-node-js:hover{
	color: green;
}

.fa-database:hover{
	color: blue;
}

.fa-react:hover{
	color: lightblue;
}

.col-xl-6:hover .projectImg {
    opacity: 0.1;
}
  
.col-xl-6:hover .projectCard {
    opacity: 1;
}

/* .projectCard {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.projectImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projectText {
    font-size: 12pt;
    object-fit: fill;
} */

.socialIcons{
    display: flex;
    justify-content: space-evenly;
}

.fa-twitter:hover{
    color: rgb(49, 162, 214);
}

.fa-github:hover{
    color: gray;
}

.fa-linkedin:hover{
    color: rgb(20, 115, 204);
}


.footer{
    display: flex;
    justify-content: space-evenly;
}