body{
    background-color: #1a1a1a;
}

h1, h2, h3, h4, h5, label, p, textarea, input, span{
    color: whitesmoke;
}

li{
    list-style-type: none;
}

.card-img{
    object-fit: cover;
    object-position: center;
    height: 90vh;
}

.card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#aboutMe{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.col-xl-6:hover .projectImg {
    opacity: 0.1;
}
  
.col-xl-6:hover .projectCard {
    opacity: 1;
}

.projectCard {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.projectImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projectText {
    font-size: 12pt;
    object-fit: fill;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke
}